body, label, input, textarea, select, button {
    font-family: "Helvetica Neue",Arial,sans-serif;
}

body{
    background-image:url(../img/noisy-texture-50x50-o8-d18-c-fcfcf9-t0.png);
    overflow-x:hidden;
}

.main{
    width:110%;
    height:280px;
    position:absolute;
    z-index:2;
    min-width:300px;
    background-color:#fff;
    border-bottom:12px solid #ccc;
    border-top:2px solid #eee;
    -webkit-transform:rotate(-3deg);
    -moz-transform:rotate(-3deg);
    -o-transform:rotate(-3deg);
    transform:rotate(-3deg);
}

.info-wrapper{
    margin:10px auto;
    width:700px;
    padding:0 30px;
}

.ruben-pic{
    background-image: url(../img/me.jpg);
    width:124px;
    height:124px;
    -webkit-border-radius: 124px;
    -moz-border-radius: 124px;
    -o-border-radius: 124px;
    border-radius: 124px;
    float:left;
    cursor:pointer;
}

.main-info{
    float:left;
    margin:10px 0 0 30px;
}

h1{
    color:#000;
    font-size:50px;
    font-family: 'Coustard', serif;
    margin:20px 0;
}

h1 span.adjective{
    color:#A60000;
    border-bottom:2px dashed #A60000;
    cursor:pointer;
}

h1 span.adjective:hover{
    color:#D40404;
}

h2{
    color:#000;
    font-weight:normal;
    margin:2px 0;
}

h3{
    color:#aaa;
    font-weight:normal;
    margin:2px 0 6px 0;
}

.icon{
    background-image:url(../img/sprite.png);
    display:inline-block;
    cursor:pointer;
    margin-right:7px;
}

.icon:hover{
    position:relative;
    top:-4px;
}

.icon-li{
    width:40px;
    height:40px;
}

.icon-twitter{
    background-position: -50px 4px;
    width:40px;
    height:40px;   

}

/* Smartphones (portrait and landscape) ----------- */
@media (max-width : 480px) {
    .main{
        width:100%;
        height:400px;
        -webkit-transform:none;
        -moz-transform:none;
        -o-transform:none;
        transform:none;
    }   
    .ruben-pic{
        width:80px;
        height:80px;
        -webkit-border-radius: 80px;
        -moz-border-radius: 80px;
        -o-border-radius: 80px;
        border-radius: 80px;
        background-size: 80px 80px;
        float:none;
        margin:0 auto;
    }

    .info-wrapper{
        text-align:center;
        width:auto;
    }
    .main-info{
        float:none;
        margin:0 auto;
    }
    h1{
        font-size:30px;
    }
    h1 span{
        display:table;
        margin:0 auto;
    }
}

.paper{
    position:absolute;
    -webkit-transform:rotate(25deg);
    -moz-transform:rotate(25deg);
    -o-transform:rotate(25deg);
    transform:rotate(25deg);
    background-color:#F7E045;
    padding:50px;
    display:none;
    width:160px;
    height:160px;
    position:absolute;
    left:20%;
    top:-295px;
    z-index:2;
    font-size:18px;
    word-spacing: 5px;
    -webkit-transition:top 1s, left 1s, -webkit-transform 1s;
    -moz-transition:top 1s, left 1s, -moz-transform 1s;
    -o-transition:top 1s, left 1s, -o-transform 1s;
    transition:top 1s, left 1s, transform 1s;
}

.paper.down{
    top:-20px;
    left:30%;
    -webkit-transform:rotate(-25deg);
    -moz-transform:rotate(-25deg);
    -o-transform:rotate(-25deg);
    transform:rotate(-25deg);
    cursor:pointer;
}

.handwrite-note{
    font-family: 'Gochi Hand', cursive;
}

.toasty-guy-dan{
    width:200px;
    height:200px;
    background-image: url(../img/toasty.png);
    position:fixed;
    bottom:0;
    right:-200px;
}

.show-dan{
    -webkit-animation:showToastyGuy 1s;
}

@-webkit-keyframes showToastyGuy 
{
    0% {right: -200px;}
    40% {right: 0;}
    60% {right: 0;}
    100% {right: -200px;}
}